<div class="gallery-container">
  <ul class="gallery {{ include.gallery }}" data-rel="true">
    {% for image in site.static_files %}
       {% if image.path contains include.gallery %}
       {% unless image.path contains '/thumbs/' %}
       {% assign rpl = include.gallery|append:"/thumbs" %}

    <li data-id="{{ image.basename }}">
      <a href="{{ image.path | relative_url }}" class="fancybox" title="{{ site.data.galleries[include.gallery][image.basename] }}" rel="true">
        <img src="{{ image.path | replace: include.gallery, rpl | relative_url }}" alt="{{ site.data.galleries[include.gallery][image.basename] }}">
      </a>
      <div class="caption">{{ site.data.galleries[include.gallery][image.basename] }}</div>
    </li>
    {% endunless %}
    {% endif %}
 {% endfor %}
  </ul>
</div>
