<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index, follow" />

	<title>{% if page.data %} {{ page.data }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip }}{% else %}{{ site.description | strip }}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="google-site-verification" content="VEiPramXb8FxglAgUXNn5wZxy-gbTO2szTyJZBf4Nmk" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
	<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/css/jquery.fancybox.min.css"
        integrity="sha256-FNw9LNerc5JpTwbdPRm3uOCLBGX6+21ujYHZMFzQXmQ="
        crossorigin="anonymous" />

	<link rel="shortcut icon" href="{{ 'sites/default/images/css/favicon.png' | relative_url }}">

	<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="{{ page.context }}">

	{{ content }}

	<footer class="container">
		<hr />
		<div class="sub">
			<h1><a href="{{ './' | relative_url }}">Ecostrutture SRL & Studio Tecnico Geom. Franchini Roberto</a></h1>
		</div>

		<div class="row company">
			<div class="col-sm-3">
				<address><strong>Sede Legale</strong>:<br />
				Via Modena,  nr. 86. 41014<br>Castelvetro di Modena.<br />Modena, Italia
				</address>
			</div>

			<div class="col-sm-3">
				<address><strong>Sede distaccata</strong>:<br />
				Cesare Battisti n.22. 41121<br />
				Modena, Italia
				</address>
			</div>

			<div class="col-sm-3">
				Tel e Fax:<br /><a href="tel:0039059702222">+39 059 702222</a><br />
				Email:<br /><a href="mailto:info@costruzioniartigiane.it">info@costruzioniartigiane.it</a><br />
				PEC:<br /><a href="mailto:roberto.franchini1@geopec.it">roberto.franchini1@geopec.it</a>
			</div>

			<div class="col-sm-3">

        <ul class="menu  foot">
          {% for i in site.data.menu_foot %}
          <li class="menu-item "><a href="{{ i.url | relative_url }}"  title="{{ i.title }}">{{ i.title }}</a></li>
          {% endfor %}
        </ul>
  			<br />
  			<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=pubid=ra-4d8b051f4951c18f">Condividi</a><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=pubid=ra-4d8b051f4951c18f" async="async"></script>
			</div>
		</div>

		<div>
			<hr />
			<p>Powered by <a href="http://bradypus.net">BraDypUS <small>COMMUNICATING CULTURAL HERITAGE</small></a></p>
		</div>

	</footer>



  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/js/jquery.fancybox.min.js"
    integrity="sha256-GEAnjcTqVP+vBp3SSc8bEDQqvWAZMiHyUSIorrWwH50="
    crossorigin="anonymous"></script>
  <script src="{{ 'js/frontend.js' | relative_url }}"></script>

  {% include ga.html %}
</body>
</html>
