---
layout: default
---

<header>
  <div class="vcard">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" style="text-align: center;">
          <h2 class="uno">
            <a href="/ecostrutture/presentazione" title="Ecostrutture s.r.l. di Roberto Franchini">
              <img src="{{ 'images/css/logo-ecostrutture.png' | relative_url }}" alt="Ecostrutture s.r.l. di Roberto Franchini" />
          </a></h2>
        </div>

        <div class="col-sm-6" style="text-align: center;">
          <h2 class="due"><a href="/studiotecnico/presentazione" title="Studtio tecnico geom. Franchini Roberto">
            <img src="{{ '/images/css/logo-studiotecnico.png' | relative_url }}" alt="Studtio tecnico geom. Franchini Roberto	" />
          </a></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container motto"><p class="lead">I colori della calce e del Grasparossa sono simbolo di tradizione, qualità e terra.</p></div>
</header>
